/* Layout */
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

#map {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: #1A1A1A;
}

a {
    color: #1E66F5;
}

/* Map Overlays */
.map-overlay.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
}

.search-row {
    display: flex;
    gap: 8px;
    position: relative;
}

/* Shared Panels */
#filter-container,
#legend-container,
#data-display-container,
#postcode-input {
    background: #EFF1F5;
    color: #4C4F69;
    padding: 8px 12px;
    border: 1px solid #CCD0DA;
    border-radius: 4px;
    width: max-content;
    box-sizing: border-box;
}

/* Postcode Search */
#search-container {
    display: flex;
    gap: 6px;
}

#postcode-input {
    text-transform: uppercase;
    font-weight: bold;
    max-width: 100px;
}

#postcode-input.error-state {
    border-color: #FF0000;
}

#postcode-input.error-state::placeholder {
    color: #FF0000;
    opacity: 1;
}

#search-button {
    padding: 8px 12px;
    background: #C6A0F6;
    color: #222222;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#search-button:hover {
    background: #CA9EE6;
}

/* Legend */
#legend-container {
    position: absolute;
    right: calc(100% + 8px);
    min-width: 110px;
    cursor: pointer;
}

.legend-list {
    margin-top: 8px;
    max-height: 40dvh;
    overflow-y: auto;
    padding-right: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0;
    white-space: nowrap;
}

/* Data Box */
#data-box-content {
    margin-top: 6px;
    font-size: 14px;
}

#data-box-content p {
    margin: 4px 0;
}

/* Popup */
.popup-card {
    text-align: center;
    font-size: 14px;
    max-width: 200px;
}

.popup-card img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 8px;
    border: 3px solid;
}

.popup-card h3 {
    margin: 4px 0;
    font-size: 16px;
}

.popup-card p {
    margin: 2px 0;
    color: #555555;
}
